#cardContainer {
    width: 100%;
    background-color: black
}

.card-title {
    background-color: black;
    color: white;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: rgb(255, 96, 128);
}

agm-map {
    height: 300px;
}

.list-group-item {
    background-color: crimson;
    color: white;
    width: 30rem;
    border-radius: 3px;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}