<div class="container-fluid">
  <div class="row justify-content-center mt-2">
    <div class="col-10">
      <div class="card" id="cardContainer">
        <img class="card-img-top">
          <agm-map [latitude]="19.4284706" [longitude]="-99.1276627" [zoom]="15">
            <agm-marker *ngFor="let marker of stores" [latitude]= "marker.Coordinates.lat" [longitude]= "marker.Coordinates.lng">
              <agm-info-window>
                <p><strong>Nombre:</strong> {{marker.Name}}</p><p><strong>Dirección:</strong> {{marker.Address}}</p>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        <div class="card-body">
          <h5 class="card-title text-center">Tiendas Favoritas</h5>
          <div class="card mx-auto" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a class="btn mx-3">X</a></li>
            </ul>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
